[submodule "first-next"]
    path = first-next
    url = ./first-next

[submodule "animalfarm"]
    path = animalfarm
    url = ./animalfarm

[submodule "memento"]
    path = memento
    url = ./memento

[submodule "nextfire-app"]
    path = nextfire-app 
    url = ./nextfire-app
