[submodule "first-next"]
    path = first-next
    url = ./first-next

[submodule "animalfarm"]
    path = animalfarm
    url = ./animalfarm

[submodule "memento"]
    path = memento
    url = ./memento
